body {

  background-color: #ffffff;
/*    background-position: center;
  background-repeat: no-repeat;

*/
}

.btn {
  font-family: 'Lekton', 400;  color: #000000;
  font-size: 15px;
  padding: 11px 27px 8px 27px;
  border: solid #FDCED5 2px;
  background: #ffffff;
  text-decoration: none;
  margin-left: -5px;
  margin-right: 5px;
  margin-top: 10px;
}

.btn:hover {
  font-family: 'Lekton', 400;  color: #ffffff;
  font-size: 15px;
  padding: 11px 27px 8px 27px;
  border: solid #FDCED5 2px;
  background: #FDCED5;
  text-decoration: none;
  margin-left: -5x;
  margin-right: 5px;
  margin-top: 10px;
}


.hello {
  font-family: 'Lekton', 400; serif;  color: #000000;
  font-size: 30px;
  display: block;
  margin-top: 30px;

}

.body {
  font-family: 'Lekton', 400; serif;  color: #000000;
  font-size: 19px;
  display: block;
  margin-top: 30px;


}

.portfolio-info {
  font-family: 'Lekton', 400; serif;  color: #000000;
  font-size: 19px;
  display: block;
  margin-top: 50px;
}

.contact-info {
  font-family: 'Lekton', 400; serif;  color: #000000;
  font-size: 15px;
  display: block;
  margin-top: 50px;
  color: #000000;
}

/* portfolio buttons*/
.pb01 {
  font-family: 'Lekton', 400;  color: #000000; text-align: center;
  font-size: 15px;
  height: 200px;
  width: 180px;
  padding: 80px 30px 80px 30px;
  border: solid #FDCED5 2px;
  background: #ffffff;
  text-decoration: none;
  margin-right: 2,5px;
  margin-bottom: 200px;
  margin-top: 200px;

}


.pb01:hover {
  font-family: 'Lekton', 400;  color: #ffffff; text-align: center;
  font-size: 15px;
  height: 200px;
  width: 180px;
  padding: 80px 30px 80px 30px;
  border: solid #FDCED5 2px;
  background: #FDCED5;
  text-decoration: none;
  margin-right: 2,5px;
  margin-bottom: 5px;
  margin-top: 200px;
}


#Magazyn Stoner {
    width: 180px;  height: 200px;
}


/* portfolio inside stoner */

.ston {
  height: 482px;
  width: 400px;
  border: solid #FDCED5 2px;
  background: #FDCED5;
  background-image: url(images/stoner_normal1.png);
/*  background-repeat: no-repeat; */
  display: center;
  align: center;
  margin-right: 2,5px;
  margin-top: 50px;
  margin-bottom: 50px;

}


/* css*/
.css-typing
{
    width: 31em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 4s steps(31, end);
    animation: type 5s steps(100, end);
    align:center;

}

@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}


/*line*/
.h_line { width:100%; height:2px; background: #FDCED5;
  margin: bottom;

}

/* scroll bar*/
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-left: 1px solid #ffffff;
}
::-webkit-scrollbar-thumb {
    background-color: #FDCED5;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #FDCED5;
}


/* STONER MAGAZINE */
/* stoner1 */

.project-info {
  font-family: 'Lekton', 400; serif;  color: #000000;
  font-size: 19px;
  display: block;
  margin-top: 80px;
}

.pud {
    height: 482px;
    width: 400px;
    padding: 25px;
    border: 2px solid #FDCED5;
    margin: 2.5px;
    margin-top: 10px;
    margin-bottom: 50px;
    background-image: url(images/stoner_normal1.png);
    background-repeat: no-repeat;
    background-position: center center;
}


/* stoner2 */

.pud2 {
    height: 550px;
    width: 850px;
    padding: 25px;
    border: 2px solid #FDCED5;
    margin: 2.5px;
    margin-bottom: 50px;
    background-image: url(images/stoner_2.png);
    background-repeat: no-repeat;
    background-position: center center;
}


/* stoner3 */

.pud3 {
    height: 550px;
    width: 850px;
    padding: 25px;
    border: 2px solid #FDCED5;
    margin: 2.5px;
    margin-bottom: 50px;
    background-image: url(images/stoner_3.png);
    background-repeat: no-repeat;
    background-position: center center;
}
